.sidebar{
    background-color:tan;
    color:white;
    width: 900px;
    height: 100%;
    position: fixed;
    padding-top: 50px;
    top:20;
    bottom: 20;
}
ul{
    list-style: none;
    margin: 20px;
    padding:20px;
}
li{
    padding: 35px 40px;
    font-family: fantasy;
    font-size: 160;
}
a{
    text-decoration:none;
    color:black;
}
a:hover{
    background-color: turquoise;
    color: white;
}
.rounded-image{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow-y: none;
}